# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode
.prettierignore

# Вспомогательные файлы
*.log*
node_modules/
build/

*.ai
*.log
*.pdf
*.psd

npm-debug.*
source/css/*.css
source/css/*.map
/package-lock.json
